# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
env/
venv-ipthreatanalyzer
# Django
db.sqlite3

# VS Code
.vscode/

# PyCharm
.idea/

# Environment Variables
.env

# Logs
*.log

# Migrations cache
*.pyc